<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">MODIFICA LA CONTRASEÑA</span><div class="container"><div class="container">
    <div class="row">
        <div class="mb-3 align-items-center my-3">
            <label class="form-label">Nombre</label>
            <input [(ngModel)]="usuario.name" type="text" class="form-control" placeholder="Nombre">
        </div>
        <div class="mb-3 align-items-center">
            <label class="form-label">Contraseña</label>
           <input [(ngModel)]="usuario.password" required="" type="password" class="form-control" placeholder="Contraseña">
        </div>
        <div class="mb-3">
          <p></p>
          <button class="btn btn-primary btn-lg" (click)="editar()">Actualizar</button>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
