<div class="container mt-5">
    <input class="col-md-2" [(ngModel)]="fecha.fecha" type="date" placeholder="buscar producto">
        <button class="btn btn-success " (click)="buscar()">Buscar</button>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card border-light">
                <div class="card-body text-center">
            <h1 style="text-align: center;" *ngIf="venta.length == 0">No hay proveedores registrados</h1>
            <table class="table table=striped table=hover">
                <tr>
                <td>#. Factura</td>
                <td>Fecha</td>
                <td>Total</td>
                <td>Cod. Producto</td>
                <td>Cantidad</td>
                </tr>
                <tr *ngFor="let v of venta; let iControl = index">    
                <td>{{v.id}}</td>
                <td>{{v.fecha}}</td>
                <td>{{v.total}}</td>
                <td>{{v.idProducto}}</td>
                <td>{{v.cantidad}}</td>
                </tr>
                </table>
            </div>
         </div>
     </div>
    </div>
</div>

