<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card border-light">
                <div class="card-body text-center">
            <h1 style="text-align: center;" *ngIf="proveedor.length == 0">No hay proveedores registrados</h1>
            <table class="table table=striped table=hover">
                <tr>
                <td>Nombre</td>
                <td>NIT</td>
                <td>Telefono</td>
                <td>Productos</td>
                <td>Editar</td>
                <td>Eliminar</td>
                <td>Pagar</td>
                </tr>
                <tr *ngFor="let p of proveedor; let iControl = index">    
                <td>{{p.name}}</td>
                <td>{{p.nit}}</td>
                <td>{{p.phone}}</td>
                <td>{{p.typeProduct}}</td>
                <td>
                    <i (click)="editar(p.id)" class="fas fa-edit text-primary"></i>
                </td>
                <td>
                    <i (click)="delete(p.id)" class="fas fa-trash text-danger"></i>
                </td>
                <td>
                    <i (click)="pagar(p.id)" class="fa-regular fa-money-bill-1 text-success"></i>
                </td>
                </tr>
                </table>
            </div>
         </div>
     </div>
    </div>
</div>
