<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">EDITAR DOMICILIO</span><div class="container">
    <div class="row">
        <div class="input-group mb-3">
            <input [(ngModel)]="domicilio.nombre" required="" type="text" class="form-control" placeholder="Nombre" required="">
        </div>
        <div class="input-group mb-3">
            <input [(ngModel)]="domicilio.direccion" required="" type="text" class="form-control" placeholder="NIT" required="">
        </div>
        <div class="input-group mb-3">
            <input [(ngModel)]="domicilio.telefono" required="" type="text" class="form-control" placeholder="Tipo de producto" required="">
        </div>
        <div class="mb-3">
          <p></p>
          <button (click)="atras()" class="btn btn-primary btn-lg float-start">Atras</button>
          <button class="btn btn-primary btn-lg float-end" (click)="editar()">Guardar</button>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
