<div class="container my-5">
    <div class="row" >
        <div class="col-lg-10 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
            <h2 class="titulo">GANANCIAS</h2>
                
            <div >
                <h4>
                Las ganancias hoy fueron de: ${{gananciaDia}}
                </h4>
                <h4>
                Las ganancias esta semana fueron de: ${{gananciaSemana}}
                </h4>
                <h4 style="font-size: 20;">
                Las ganancias este mes fueron de: ${{gananciaMes}}
                </h4>
            </div>

            <button class="btn btn-primary float-start" (click)="dirigir()">Atras</button>
                </div>
            </div>
        </div>
    </div>
</div>
