<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">RECUPERAR CONTRASEÑA</span><div class="container">
    <div class="row">
        <div class="mb-3 align-items-center ">
            <label class="form-label">Usuario</label>
            <input [(ngModel)]="usuario.user" required="" type="text" class="form-control" placeholder="Usuario">
        </div>
        <div class="mb-3">
          <p></p>
          <button (click)="atras()" class="btn btn-primary btn-lg float-start">Atras</button>
          <button class="btn btn-primary btn-lg float-end" (click)="Recuperar()">Recuperar</button>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>